<header class="ec-header-section">
  
    <div class="ec-container">
   
      <div class="ec-header-wrap">

           <!-- Left -->
          <div class="ec-header__logo">
              <a href="/">
                 {% if section.settings.logo_image != blank %}
                  <img src="{{ section.settings.logo_image | img_url: '250x' }}" alt="{{ section.settings.logo_alt | default: 'Logo' }}" />
                {% else %}
                  {{ section.settings.left_text }}
                {% endif %}
              </a>
          </div>

          <!-- Center -->
          <div class="ec-header__announcement-bar">
            Find the ideal gift for your loved ones.
          </div>

          <!-- Right -->
          <div class="ec-header__right-actions">
            <a href="#" class="ec-button ec-button--primary">
              <span>CHOOSE GIFT</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M22.354 11.646a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708l3.147-3.146H2a.5.5 0 0 1 0-1h18.793l-3.147-3.146a.5.5 0 0 1 .708-.708z" opacity="1" data-original="#000000" class=""></path></g></svg>
            </a>
          </div>

      </div>

    </div>

</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}