/*Base Styles*/
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
.ec-container{
    padding: 0 100px;
}

/*Button Styles*/
.ec-button{
    position: relative;
    overflow: hidden;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 700;
    transition: color 0.3s ease;
}
.ec-button svg{
    width: 22px;
    height: 22px;
    fill: #000;
    transition: fill 0.3s ease;
}
.ec-button--primary{
    background-color: #FFF544;
    color: #000;
}
.ec-button--primary:hover{
    color: #FFF;
}
.ec-button--primary:hover svg{
    fill: #FFF !important;
    z-index: 1;
}
.ec-button--secondary:hover svg{
    fill: #FFF !important;
    z-index: 1;
}
.ec-button--primary::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    transition: width 0.35s ease;
    z-index: 0;
}
.ec-button--secondary{
    background-color: #000;
    color: #fff;
}
.ec-button--secondary svg{
    fill: #fff !important;
}
.ec-button--secondary::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #FFF544;
    transition: width 0.35s ease;
    z-index: 0;
}
.ec-button--secondary:hover{
    color: #000;
}
.ec-button--secondary:hover svg{
    fill: #000 !important;
}
.ec-button:hover::before{
    width: 100%;
}

.ec-button span{
    position: relative;
    z-index: 1;
}


/*Header Styles*/
.shopify-section.shopify-section-group-header-group{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.ec-header-section{
    background-color: #F5F5F5;
    padding: 10px 0;
}
.ec-header__logo a{
    display: flex;
    align-items: center;
}
.ec-header__logo img{
    height: 20px;
    width: auto;
}
.ec-header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Banner Styles*/
.ec-banner{
    position: relative;
}
.ec-banner__image{
    position: relative;
    overflow: hidden;
}
.ec-banner__image img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.ec-banner__content{
    position: absolute;
    bottom: 120px;
    color: #000;
    text-align: left;
    padding: 20px 100px;
    width: 40%;
    left: 0;
}
.ec-banner__content h2{
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 700;
}
.ec-banner__content p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
}
.ec-banner__footer{
    background-color: #F5F5F5;
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
    color: #000;
}

/* Product Grid Styles */

.ec-product-grid__heading{
    font-size: 36px;
      font-family: "Lustria", serif;
}
.ec-product-grid__list{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.ec-product-grid__item{
    position: relative;
}
.ec-product-grid__image{
    position: relative;
    min-height: 620px;
}
.ec-product-grid__image img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: top;
}
.ec-product-grid__quick-add{
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}

/*Popup*/
.ec-product-popup-overlay{
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.ec-product-popup__content{
    padding: 20px;
}
.ec-product-popup-overlay.open{
    opacity: 1;
    pointer-events: auto;
}
.ec-product-popup{
    width: 460px;
    overflow: auto;
    background: #fff;
    position: relative;
}
.ec-product-popup__top{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
}
.ec-product-popup__image img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}